html {
  font-size: 31.25%;
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body,
h3,
h4,
h5,
h6,
ul,
li,
ol,
div,
dl,
dt,
dd,
p,
img,
a,
form {
  margin: 0;
  padding: 0;
  font-family: "微软雅黑";
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  appearance: none;
}
div {
  width: auto;
  border: none;
  outline: none;
  outline-style: none;
}
body,
html {
  padding: 0;
  margin: 0;
  font-family: Helvetica,STHeiti,Microsoft Yahei;
  background-color: #ffffff;
  overflow: visible;
  line-height: 1.4;
  color: #110e15;
  -webkit-text-size-adjust: 100%!important;
}
img {
  vertical-align: middle;
  border: 0 none;
  width: 100%;
  display: inline-block;
}
li {
  list-style: none;
  list-style-position: outside;
}
a {
  text-decoration: none;
  overflow: hidden;
  opacity: 1;
  outline: none;
}
a:hover {
  color: #000;
  text-decoration: none;
}
ul {
  list-style: none;
}
input,
select {
  vertical-align: middle;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  outline-style: none;
}
body {
  overflow-x: hidden;
  max-width: 750px;
}
canvas {
  width: 100%;
  display: block;
}
.box {
  position: fixed;
}
.popup {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
  z-index: 9;
  display: none;
}
.popup_poster .poster {
  width: 77.2%;
  margin-top: 8.32083958%;
  margin-left: 11.4%;
}
.popup_poster .hint {
  width: 20.4%;
  margin-left: 39.8%;
  margin-top: 5%;
}
.popup_hint p {
  position: absolute;
  top: 44.97751124%;
  width: 100%;
  left: 0%;
  text-align: center;
  color: #FFFFFF;
  font-size: 3rem;
}
.plan {
  position: absolute;
  top: 50.22488756%;
  left: 16%;
  width: 68%;
}
.plan_box {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
}
.plan_box .bg {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
}
.plan .overflow {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 0%;
  overflow: hidden;
}
.loading {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 5;
}
.loading .ioc {
  position: absolute;
  top: 34.10794603%;
  left: 32.4%;
  width: 35.2%;
}
.loading .per {
  position: absolute;
  top: 55.39730135%;
  width: 100%;
  left: 0%;
  text-align: center;
  font-size: 3.3rem;
}
.index {
  position: relative;
}
.index .con {
  position: absolute;
  top: 7.12143928%;
  left: 0%;
  width: 100%;
}
.index .boxes {
  position: relative;
  width: 90.26666667%;
  margin-left: 5.0665%;
}
.index .btn {
  width: 59.33333333%;
  margin-left: 20.3334%;
  margin-top: 8%;
}
.index .boxes .tit {
  position: absolute;
  top: 0%;
  left: 2.80649926%;
  width: 96.75036928%;
}
.index .boxes .pic {
  position: absolute;
  top: 16.01343785%;
  left: 8.56720827%;
  width: 85.37666174%;
}
.index .boxes .left {
  position: absolute;
  top: 68.08510638%;
  left: 2.80649926%;
  width: 13.29394387%;
}
.index .boxes .right {
  position: absolute;
  top: 68.08510638%;
  right: 0.44313146%;
  width: 13.44165436%;
}
.index .boxes .yi {
  position: absolute;
  top: 68.08510638%;
  left: 35.89364845%;
  width: 49.77843427%;
}
.index .boxes .ji {
  position: absolute;
  top: 82.86674132%;
  left: 35.89364845%;
  width: 49.77843427%;
}
.index .logo {
  position: absolute;
  top: 84.70764618%;
  left: 29.73333333%;
  width: 40.53333333%;
  top: auto;
  bottom: 5%;
}
.index .video {
  display: none;
  position: absolute;
  width: 100%;
  z-index: 5;
  top: 0;
  left: 0;
}
.answer {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background: #fff;
}
.answer .plan {
  position: absolute;
  top: 5.24737631%;
  left: 9.06666667%;
  width: 73.86666667%;
  transform: scaleY(1.3);
}
.answer .per {
  position: absolute;
  top: 5.09745127%;
  left: 85.2%;
  width: 9.33333333%;
  font-size: 2.8rem;
}
.answer .issue {
  position: absolute;
  top: 9.97001499%;
  left: 10.26666667%;
  width: 77.46666667%;
  font-size: 3.6rem;
  font-weight: bold;
}
.answer .play {
  position: absolute;
  top: 44.37781109%;
  left: 37.33333333%;
  width: 25.33333333%;
  display: none;
}
.answer .choices {
  position: absolute;
  top: 22.33883058%;
  left: 11.6%;
  width: 76%;
}
.answer .choices .choice {
  position: relative;
  width: 44.03508772%;
  border: 3px solid #2c2626;
  border-radius: 3px;
  float: left;
  margin-bottom: 6%;
}
.answer .choices .choice:nth-child(2n+0) {
  float: right;
}
.answer .choices .choice .tick {
  position: absolute;
  top: 42.69230769%;
  left: 27.49003984%;
  width: 41.83266932%;
}
.answer_two .choices {
  position: absolute;
  top: 22.11394303%;
  left: 9.53333333%;
  width: 80.93333333%;
}
.answer_two .choices .choice {
  width: 43.98682043%;
  border: none;
  margin-bottom: 5%;
}
.answer_two .choices .choice P {
  position: absolute;
  top: 0%;
  width: 100%;
  left: 0%;
  text-align: center;
  font-size: 3.2rem;
  line-height: 1.7;
}
.answer_two .choices .choice .tick {
  position: absolute;
  top: -30.3030303%;
  left: 31.08614232%;
  width: 39.3258427%;
}
.answer_three .choices {
  position: absolute;
  top: 29.01049475%;
  left: 2.66666667%;
  width: 94.66666667%;
}
.answer_three .choices .choice {
  width: 47.04225352%;
  border: none;
  margin-bottom: 5%;
}
.answer_three .choices .choice P {
  position: absolute;
  top: 27.27272727%;
  width: 100%;
  left: 0%;
  text-align: center;
  font-size: 3.2rem;
  line-height: 1;
}
.answer_three .choices .choice .tick {
  position: absolute;
  top: -30.3030303%;
  left: 24.8502994%;
  width: 31.43712575%;
}
.answer_one .gif,
.answer_one .gif_bg {
  display: none;
}
.answer .gif {
  position: absolute;
  right: 0;
  bottom: 0;
}
.answer .gif_bg {
  position: absolute;
  right: 0;
  bottom: 0;
}
@-webkit-keyframes demo {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}
.answer .gif_3 .gif_bg {
  width: 100%;
}
.answer .gif_3 .gif {
  width: 97.86666667%;
  background: url('../images/iusse_gif_3.png') no-repeat;
  height: 56.97151424%;
  background-size: 1300%;
}
.answer .gif_4 .gif_bg {
  width: 100%;
}
.answer .gif_4 .gif {
  width: 100%;
  background: url('../images/iusse_gif_4.png') no-repeat;
  height: 51.42428786%;
  background-size: 1600%;
  -webkit-animation: demo 1.5s steps(15) infinite;
}
.answer .gif_5 .gif_bg {
  position: absolute;
  width: 100%;
}
.answer .gif_5 .gif {
  left: 0;
  width: 100%;
  background: url('../images/iusse_gif_5.png') no-repeat;
  height: 55.09745127%;
  background-size: 1000%;
  -webkit-animation: demo 1.5s steps(9) infinite;
}
.answer .gif_6 .gif {
  position: absolute;
  top: 23.23838081%;
  left: 10.53333333%;
  width: 74.93333333%;
  background: url('../images/iusse_gif_6.png') no-repeat;
  background-size: 100%;
  height: 18.06596702%;
}
.answer .gif_6 .choices {
  top: 62.96851574%;
}
.answer .gif_7 .gif_bg {
  position: absolute;
  width: 100%;
}
.answer .gif_7 .gif {
  left: 0;
  left: 23.06666667%;
  width: 74.66666667%;
  background: url('../images/iusse_gif_7.png') no-repeat;
  height: 66.26686657%;
  background-size: 1100%;
  -webkit-animation: demo 1.5s steps(10) infinite;
}
.result {
  display: none;
  position: relative;
}
.result .con {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
}
.result #poster {
  display: none;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
}
.result .title {
  position: absolute;
  top: 0.89955022%;
  left: 7.13333333%;
  width: 85.73333333%;
}
.result .emoji {
  position: absolute;
  top: 9.67016492%;
  left: 4.13333333%;
  width: 91.73333333%;
  border: 3px solid #2c2626;
  border-radius: 3px;
  box-sizing: border-box;
}
.result .seal {
  position: absolute;
  top: 7.79610195%;
  left: 56.26666667%;
  width: 42%;
}
.result .text {
  position: absolute;
  top: 61.69415292%;
  left: 4.13333333%;
  width: 91.73333333%;
  border: 3px solid #1e1e1e;
  background: #ed6e6e;
  box-sizing: border-box;
}
.result .text p {
  box-sizing: border-box;
  border: 3px solid #1e1e1e;
  background: #FFFFFF;
  margin: 4%;
  padding: 2%;
  font-size: 3.7rem;
}
.result .btn_not_me {
  position: absolute;
  top: 78.86056972%;
  left: 5.73333333%;
  width: 40.4%;
}
.result .btn_friend {
  position: absolute;
  top: 78.86056972%;
  left: 50.4%;
  width: 43.86666667%;
}
